.flex{
    display: flex;
}
.h-100vh{
    height: calc(100vh - 140px);
}
.h-full{
    height: 100%;
}
.w-full{
    width: 100%;
}
.m-auto{
    margin: auto;
}
.m-8{
    margin: 8px;
}
.ant-btn-primary {
    background-color: pink !important;
}
.ant-btn-default{
    color: pink !important;
    border: 1px solid pink !important;
}
.ant-input:hover{
    border-color: pink;
}
.hidden{
    display: none;
}
