.headbar {
	height: 120px;
	background-color: pink;
	display: flex;
	color: white;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	border-radius: 20px;
	justify-content: space-between;
}
.headerbar-photo {
	border-radius: 100%;
	border: 3px solid white;
	margin: auto;
	margin-left: 10px;
	width: 102px;
	height: 102px;
}
.headbar-container-info {
	margin-left: 50px;
}
.headbarr-name {
	font-size: larger;
}
.headbar-mail {
	margin-top: -7px;
}
.headbar-mobilePhone {
	margin-top: -15px;
}
.headbar-container-icon-exit{
    display: flex;
    margin-right: 20px;
}
.headbar-icon-exit{
    font-size: 30px;
    margin: auto;
}
.header-icon-fav{
	margin-right: 20px;
	font-size: 30px;
	color: white;
}
.header-icon-profile{
	font-size: 85px;
	border-radius: 100%;
	border: 3px solid white;
	margin: auto;
	width: 102px;
	height: 102px;
	margin-left: 10px !important;
}
.header-icon-profile svg{
	margin-left: 10px !important;
}
