.headbar{
    height: 120px;
    background-color: pink;
    display: flex;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 20px;
    justify-content: space-between;
}
.headerbar-photo{
    border-radius: 100%;
    border: 3px solid white;
    margin: auto;
    margin-left: 10px;
    width: 102px;
    height: 102px;
}
.scrollbar-primary::-webkit-scrollbar {
	background-color: transparent;
	width: 10px;
	border-radius: 10px;
}
.scrollbar-primary::-webkit-scrollbar:horizontal {
    height: 10px;
}
.scrollbar-primary::-webkit-scrollbar-thumb {
	border-radius: 20px;
	-webkit-box-shadow: inset 0 0 2px rbga(0, 0, 0, 0.1);
	width: 10px;
	background-color: pink !important
}

.scrollbar-primary {
	scrollbar-color: pink transparent !important;
	overflow-y: auto !important;
	overflow-x: auto !important;
	scrollbar-width: thin;
}